.user-modal-content .ant-modal-content {
  padding: 0 !important;
}

.user-modal-body {
  padding: 0 20px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.user-modal-header {
  padding: 16px;
}

.user-modal-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

